@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  /* 定义语义化颜色标记 (Tokens) */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-bg-main: var(--bg-main);
  --color-bg-warm: var(--bg-warm);
  --color-ink: var(--ink);
  --color-ink-muted: var(--ink-muted);
  --color-border-subtle: var(--border-subtle);
  --color-card-bg: var(--card-bg);
}

:root {
  /* Light Theme Palette */
  --primary: #B26134;
  --primary-hover: #9A522B;
  --secondary: #545E29;
  --accent: #435751;
  --bg-main: #FDFCF9;
  --bg-warm: #F2E9D5;
  --ink: #303026;
  --ink-muted: #4D4D3C;
  --border-subtle: #F3F1ED;
  --card-bg: #FFFFFF;
}


@layer base {
  body {
    @apply bg-bg-main text-ink antialiased transition-colors duration-300;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  @keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
  }
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }
}
